

@model TwitterClone.Models.UpdatePassword
@{
    if (ViewContext.IsChildAction != true && !Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
    else
    {
        Layout = null;
    }
}
@{
    ViewBag.Title = "UpdatePassword";
}
<script type="text/javascript" language="javascript">
    var urlContent = "@Url.Content("~/")";
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4 style="color:cornflowerblue">Update password</h4>
    <hr />
    <div class="form-horizontal">
       
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
        <div class="form-group">
          
            <div class="col-md-12">
                @Html.LabelFor(model => model.oldpassWord, htmlAttributes: new { @class = "control-label " })
                @Html.PasswordFor(model => model.oldpassWord, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.oldpassWord, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                @Html.LabelFor(model => model.NewpassWord, htmlAttributes: new { @class = "control-label " })
                @Html.PasswordFor(model => model.NewpassWord, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewpassWord, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                @Html.LabelFor(model => model.ConfirmpassWord, htmlAttributes: new { @class = "control-label " })
                @Html.PasswordFor(model => model.ConfirmpassWord, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmpassWord, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

@if (ViewBag.PasswordUpdateSuccess == true)
{
    <h5 class="alert-success">Password updated successfully..!</h5>
}
